<launch>
  <group ns="tb3_0">
    <param name="robot_num"  value="0"/>
    <node pkg="turtlebot3_dqn" type="turtlebot3_3robot_avoid_main" name="turtlebot3_main_1" output="screen" />
  </group>
  <group ns="tb3_1">
    <param name="robot_num"  value="1"/>
    <node pkg="turtlebot3_dqn" type="turtlebot3_3robot_avoid_main" name="turtlebot3_main_2" output="screen" />
  </group>
  <group ns="tb3_2">
    <param name="robot_num"  value="2"/>
    <node pkg="turtlebot3_dqn" type="turtlebot3_3robot_avoid_main" name="turtlebot3_main_3" output="screen" />
  </group>
</launch>
